/* Global */
html {
    font-family: 'Raleway', sans-serif;
}


/* index.html */

.mission {
    max-width: 75%;
    margin: 1rem auto;
    background-color: #bdbdbd;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}

.mission p, .mission h3 {
    max-width: 90%;
    margin: 1rem auto;
}

.signupdiv {
    display: inline-block;
    margin: 1rem 3rem;
}

@media (max-width: 768px){
    .mission{
        font-size: small;
        padding: 0rem;
    }

    .mission p, .mission h3 {
        max-width: 90%;
        margin: .5rem auto;
    }
}



